{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block pageid %}dashboard{% endblock %}
{% block body %}
<header class="navbar navbar-default navbar-fixed-top color--blue-500 shadow-2dp">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="btn color-text--white sidebar-toggle" data-toggle="collapse" data-target="#sidebar"
      aria-expanded="false">
      <i class="material-icons">menu</i>
    </button>
    <a class="navbar-brand" href="/">Dimensions</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse collapse" id="">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Hi, {{ user.firstName | capitalize }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
  </div>
</header>
<div class="wrapper">
<div class="sidebar-overlay"></div>
  <aside id="sidebar" class="sidebar open sidebar-colored collapse in" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-image: url(https://unsplash.it/300/150);">

      <!-- Top bar -->
      <div class="top-bar"></div>

      <!-- Sidebar toggle button -->
      <button type="button" class="sidebar-toggle">
        <span class="caret"></span>
      </button>

      <!-- Sidebar brand image -->
      <div class="sidebar-image">
        <img src="https://robohash.org/{{ user.userId }}?size=96x96&bgset=bg1" />
      </div>

      <!-- Sidebar brand name -->
      <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
        {{ user.email }}<b class="caret"></b>
      </a>
    </div>

    {% block sidebar %}
    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
      <li class="dropdown">
        <ul id="settings-dropdown" class="dropdown-menu">
          <li>
            <a href="#" tabindex="-1">Account Settings</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Log out</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/">
          <i class="material-icons">dashboard</i> Dashboard
        </a>
      </li>
      <li>
        <a href="/noticeboard">
          <i class="material-icons">assignment</i> Noticeboard
        </a>
      </li>
      <li>
        <a href="/events">
          <i class="material-icons">event</i> Events
        </a>
      </li>
      <li>
        <a href="/library">
          <i class="material-icons">book</i> Library
        </a>
      </li>
      <li>
        <a href="/academics">
          <i class="material-icons">school</i> Academics
        </a>
      </li>
      <li class="divider"></li>
      {% if 'admin' == user.type or 'wheel' in user.groups or 'library_admin' in user.groups or 'academic_admin' in user.groups %}
      <li>
        <a href="admin">
          <i class="material-icons">settings</i> Administration
        </a>
      </li>
      {% endif %}
      <li>
        <a id="help" href="#">
          <i class="material-icons">help</i> Help & Support
        </a>
      </li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->

    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
    {% endblock %}
  </aside>
  <main class="dashboard-container container-fluid">
    {% block main %}{% endblock %}
  </main>
</div>
{% endblock %}
