{% extends '_layouts/dashboard.html.twig' %}
{% block title %}Academics{% endblock %}
{% block pageid %}dashboard{% endblock %}

{% block main %}
<div class="user-dashboard">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading color--yellow-500">
        <h3 style="margin: 0">Timetable</h3>
      </div>
      <div class="panel-body">No records available</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading color--orange-500">
        <h3 style="margin: 0">Attendance</h3>
      </div>
      <div class="panel-body">No records available</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading color--purple-500 color-text--white">
        <h3 style="margin: 0">Results</h3>
      </div>
      <div class="panel-body">No entries available</div>
    </div>
  </div>
</div>
{% endblock %}
