<!DOCTYPE html>
<html>
  <head>
    <title><%= app.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= app.title %></h1>
    <p>Welcome to <%= app.title %></p>
  </body>
</html>
