{% extends '_layouts/dashboard.html.twig' %}
{% block title %}Library{% endblock %}
{% block pageid %}dashboard{% endblock %}

{% block main %}
<div class="user-dashboard">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 style="margin: 0">Outstanding</h3>
      </div>
      <div class="panel-body">No books</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="margin: 0">History</h3>
      </div>
      <div class="panel-body">No entries available</div>
    </div>
  </div>
</div>
{% endblock %}
