{% extends '_layouts/base.html.twig' %}

{% block pageid %}login{% endblock %}

{% block body %}
<div class="login-container">
  <div class="form-container {% if error %}has-error{% endif %}">
    {% if error %}
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{ error }}
    </div>
    {% endif %}
    <form class="login-form" method="post">
      <input id="_csrftoken" type="hidden" value="randomtextshouldgohere" />
      <input id="username" name="username" type="text" placeholder="Username" />
      <input id="password" name="password" type="password" placeholder="Password" />
      <button type="submit">Login</button>
      <p class="message"><a href="#">Forgot password ?</a></p>
    </form>
  </div>
</div>
{% endblock %}