{% extends '_layouts/dashboard.html.twig' %}
{% block title %}Dimensions{% endblock %}
{% block pageid %}dashboard{% endblock %}

{% block main %}
<div class="user-dashboard">
  <div class="user-stream col-md-offset-1 col-md-10">
    {% for notice in notices %}
    <div class="post notice">
      <div class="post-content">
        <div class="post-body">
          <h3>{{ notice.title }}</h3>
          <p>{{ notice.content }}</p>
        </div>
        <footer class="post-footer">
          <div class="btn-group btn-sm">
            {% if notice.link %}
            <a href="{{ notice.link }}" class="btn btn-flat btn-info">Details</a>
            {% endif %}
            <button class="btn btn-flat btn-sm"><i class="material-icons">star</i></button>
            <button class="btn btn-flat btn-sm"><i class="material-icons">comment</i></button>
          </div>
        </footer>
      </div>
    </div>
    {% endfor %}
    {% if notices is empty %}
      <h4>All caught up!</h4>
      <p>Everything looks silent!</p>
    {% endif %}
  </div>
</div>

{% if user.type == 'admin' or 'wheel' in user.groups or 'noticeboard' in user.groups %}
<button style="position: fixed" data-toggle="modal" data-target="#noticeadd" class=" floating-button btn btn-primary btn-raised btn-fab">
  <i class="material-icons">add</i>
</button>

<div id="noticeadd" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Post a new notice</h4>
      </div>
      <div class="modal-body">
        <form id="noticeform" method="POST">
          <div class="form-group label-floating">
            <label for="title" class="control-label">Title</label>
            <input required type="text" class="form-control" id="title" name="title">
          </div>
          <div class="form-group label-floating">
            <label for="link" class="control-label">Link</label>
            <input type="url" class="form-control" id="link" name="link">
          </div>
          <div class="form-group label-floating">
            <label for="content" class="control-label">Content</label>
            <textarea required name="content" class="form-control" rows="5" id="content"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button form="noticeform" value="Save" type="submit" class="btn btn-success">Save</button>
      </div>
    </div>

  </div>
</div>
{% endif %}
{% endblock %}
