@import '_scss/color-definitions';
@import '_scss/palette';
@import '_scss/shadows';
@import '_scss/sidebar';
html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.floating-button {
  position: fixed;
  top: 80%;
  right: 10%;
}

.dashboard {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  header {
    .sidebar-toggle {
      padding: 8px;
    }
    .navbar-brand {
      float: none;
    }
  }
  .wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    .sidebar {
      flex-grow: 0;
      flex-shrink: 0;
    }
    main {
      flex-grow: 1;
      overflow: scroll;
      padding: 16px;
    }
    @media(min-width: 992px) {
      padding-top: 60px;
    }
  }
}

.login {
  background: #76b852;
  /* fallback for old browsers */
  background: linear-gradient(to left, #76b852, #8DC26F);
  .login-container {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    .form-container {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      @include shadow-2dp();
      form {
        input {
          font-family: "Roboto", sans-serif;
          outline: 0;
          background: #f2f2f2;
          width: 100%;
          border: 0;
          margin: 0 0 15px;
          padding: 15px;
          box-sizing: border-box;
          font-size: 14px;
        }
        button {
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          outline: 0; // background: #4CAF50;
          width: 100%;
          border: 0;
          padding: 15px;
          color: #FFFFFF;
          font-size: 14px;
          -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
          cursor: pointer;
        }
        button:hover,
        button:active,
        button:focus {
          background: #43A047;
        }
        .message {
          margin: 15px 0 0;
          color: #b3b3b3;
          font-size: 12px;
          a {
            color: #4CAF50;
            text-decoration: none;
          }
        }
      }
      &.has-error {
        border-top: 3px solid #e00;
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }
}

.dashboard {
  .event {
    .event-info {
      margin-top: 1em;
      list-style: none;
      padding: 0;
      i.material-icons {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  .user-card {
    @include shadow-2dp();
    .card-body {
      position: relative;
      .user-image {
        text-align: center;
        img {
          height: 96px;
          width: 96px;
          border-radius: 50%;
          @media (min-width: 721px) {
            height: 128px;
            width: 128px;
          }
        }
      }
      .user-edit-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        i.material-icons {
          font-size: 18px;
        }
      }
      .user-info {
        h3,
        h4 {
          text-align: center;
        }
        ul {
          list-style: none;
          padding-left: 0;
          li {
            list-style: none;
            i.material-icons {
              margin-right: 0.25em;
              line-height: 24px;
              vertical-align: middle;
            }
            span {
              line-height: 24px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  .user-stream {
    .post {
      background-color: #fff;
      margin-bottom: 18px;
      @include shadow-2dp;
      .post-content {
        .post-image {
          max-height: 60%;
          img {
            width: 100%;
          }
        }
        .post-body {
          padding: 18px;
        }
        .post-footer {
          border-top: 1px solid #ddd;
        }
      }
    }
  }
  .user-secondary-stream {
    .reminders {
      @include shadow-2dp;
      @include color--white;
      h2 {
        margin: 0;
        padding: 16px;
      }
      .list-group-item-heading {
        i.material-icons {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
}

.admin {
  .listing {
    table {
      tr {
        .actions {
          .btn {
            visibility: hidden;
            padding: 4px;
            margin: 0;
            i.material-icons {
              font-size: 16px;
            }
          }
        }
        &:hover {
          .actions .btn {
            visibility: visible;
          }
        }
      }
    }
  }
}


/* animations */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
